*{
    margin: 0;
    padding: 0;
}
*::selection{
    color: #fff;
    background-color: #000; 
}
h1 {
    font-family: 'Send Flowers', cursive;
    font-size: 40px;
}
ul {
    padding-left: 0;
}
.logoytitulo {
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.logoPrincipal {
    height: 109x;
    width: 70px;
    margin: 0px 10px;
    background: map-get($colores, "color-fondo");
    border: solid 1px black;
    border-radius: 100%;
    box-shadow: 1px 2px 5px 0 black;
}
.navbar-collapse {
    display:flex;
    justify-content:center;
}
.navegador {
    position: fixed;
    z-index: 5;
    width: 100%;
    background-image: map-get($colores, "bgimg-navfot");
    border-bottom: solid 3px map-get($colores, "color-byb");

    &__lista__item {
        display: inline-block;
        background-color: map-get($colores, "color-byb"); 
        margin: 0 2px;
        border: solid 2px black;
        box-shadow: 1px 2px 5px 0 black;

        a {
            text-decoration: none;
            color: white;
            padding: 5px;
            font-size: 17px;
            font-style: normal;
            font-family: 'Roboto', sans-serif;
        }

        &:hover {
            transform: scale(1.1);
            background-color: map-get($colores, "color-bybh");
            transition: transform .5s, background .3s;
        }
    }
}

.indexPrincipal{
    padding-top: 140px;
    background: map-get($colores, "color-fondo");
}
.subtituloIndex {
    @include titulos(center);
}
.subtituloIndex2 {
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.textoIndex{
    @extend %textos;
    padding: 18px;
    width: 85%;
}
.indexImagenes {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__Items {
        margin: 30px 5px;
        background-color: map-get($colores, "color-byb");
        border: solid 1px black;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        box-shadow: 2px 4px 10px 0 black;
    }
}

.fotosIndex {
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: solid 3px black;
}
.pie{
    border-top: solid 3px map-get($colores, "color-byb");
    display: flex;
    justify-content: center;
    background-image: map-get($colores, "bgimg-navfot");

    &__lista__item {
        display: inline-flex;
        align-items: center;
        margin: 20px;
        padding-right: 10px;
        background-color: map-get($colores, "color-byb");
        font-size: 20px;
        font-family: 'Roboto', sans-serif; 
        border-bottom: solid 3px black;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 1px 2px 5px 0 black;
    
        a{
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            font-family: 'Roboto', sans-serif; 
        }
    
        &:hover {
            transform: scale(1.05);
            transition: transform .5s, background .3s;
            background-color: map-get($colores, "color-bybh");
        }
    }
}

.logospie {
    margin: 10px;
    height: 30px;
    width: 30px;
}
