.mainQuienSoy {
    padding-top: 130px;
    padding-bottom: 40px;
    background: map-get($colores, "color-fondo");
}
.subtituloQuienSoy{
    @include titulos(left);
    padding-left: 10%;
}
.QuienSoy {
    @extend %textos;
    padding: 18px;
    width: 60%;
}
.quiensoyfoto {
    margin: 15px;
    height: 350px;
    width: 250px;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    box-shadow: 2px 4px 10px 2px black;
    object-fit: cover;
}
.subtituloTitulos{
    @include titulos(center);
}
.titulos {
    margin: 25px auto;
    width: 65%;
    box-shadow: 2px 4px 10px 0 black;
}
.carousel-caption {
    margin: 5px auto;
    padding: 5px 10px 0px 10px;
    width: max-content;
    background-color: map-get($colores, "color-items");
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 2px 4px 10px 0 black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
}